<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/img/favicon.png" type="image/png">
    <title>Design By Dev | Explore The Web, Explore Your Future</title>
    <link type="text/css" rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Abel|Dosis|Josefin+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="land">
        <div class="landingContent">
            <h1>INTRICATE DESIGNS,<br />DELICATE ATTENTION TO DETAIL</h1>
            <div class="landingBG">
                <img src="https://source.unsplash.com/category/technology/1920x1080" />
            </div>
        </div>

        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/services">SERVICES</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/client">CLIENT</a></li>
                <li><a href="/blog">BLOG</a></li>
            </ul>
        </nav>

    </div>

    {{{body}}}

    <div class="footer">
        <div class="social">
            <h2>FOLLOW ME AROUND!</h2>
            <ul>
                <li><a href="https://www.twitter.com/official_dbd"><img src="img/Twitter-Bird-128.png"></a></li>
                <li><a href="https://www.facebook.com/designbydevofficial"><img src="img/Facebook-128.png"></a></li>
                <li><a href="https://www.linkedin.com/in/devin-wood-aaa241139/"><img src="img/LinkedIn-128.png"></a></li>
            </ul>
        </div>
        <div class="contact">
            <h2>NEED TO CONTACT ME?</h2>
            <ul>
                <li><strong>Phone: </strong>
                +1.518.769.9359</li>
                <br />
                <li><strong>E-Mail: </strong>
                admin@designbydev.com</li>
            </ul>
        </div>
    </div>
  </body>
</html>
