<div class="aboutWrap">
  <h1>ABOUT DEVIN</h1>
  <div class="aboutItem">
    <div class="separate"><img src="/img/me.png"</div>
    <hr />
    <p>
      Hi, I'm Devin.
I've been designing and developing since I was 12 years old. I remember studying all the websites from my favorite video games, as well as the forums included on those. Over the years, I have collected knowledge of JavaScript, HTML, CSS, AngularJS, Node JS, and minimal PHP. I am fluent in PhotoShop and often use both PhotoShop and Adobe xD to sketch out beautiful designs. My ultimate goal is an aesthetically pleasing UI followed by seamless interaction within each website I build. I truly hope you'll enjoy my work and look around a bit!
    <p>
  </div>
<hr>
  <div class="aboutItem">
    <p>
      Design By Dev is a company name, founded and owned by Devin Wood. Our goal is to create the best user experience possible as well as incredibly flexible and fluent backend infrastructures. If you're interested in viewing our work, head over to the work page!
    </p>

    <a id="workBtn" href="/work">WORK</a>
  </div>
</div>
