<!doctype html>
<html>
    <head>
        <title>Design By Dev | Explore The Web, Explore Your Future</title>
        <link type="text/css" rel="stylesheet" href="css/alt.css">
        <link href="https://fonts.googleapis.com/css?family=Abel|Dosis|Josefin+Sans" rel="stylesheet">
    </head>

    <body>
        <div id="container">
            <h1>Uh-Oh! Looks like I've been slacking...</h1>
            <h3>The client portal is being worked on!<br />Until then you'll have to contact me by phone or e-mail.</h3>
            <br />
            <a href="/">GO BACK</a>
        </div>
    </body>
</html>
