        <div class="welcomeContent">
            <article>
                <img src="img/Open-256.png" />
                <h1>WELCOME!</h1>
                <p>
                Hey, you! Thanks for stopping by my website. The purpose of this website is to serve as a hub for aspiring designers and clients alike. My goal is to create aesthetically pleasing, user-friendly web applications and web designs. If you'd like to check out some of my work, you can click the button below!
                <br />
                <a href="#">MY WORK</a>
                </p>
            </article>
        </div>

        <div class="offeredContent">
            <div class="offeredItem">
                <article>
                    <div class="pimg"><img src="img/Stationery-01-128.png" /></div>
                    <h3>RESPONSIVE DESIGN</h3>
                    <p>
                        Did you know? Most of the people browing the web are browsing on mobile! This means that every website built by Design By Dev will be mobile-responsive and ready once published.
                    </p>
                </article>
            </div>

            <div class="offeredItem">
                <article>
                    <div class="pimg"><img src="img/Radar-128.png"/></div>
                    <h3>SEO INCLUDED</h3>
                    <p>
                        Having a website is great, assuming people can find you! Included with every project are meta tags to help people search you, as well as Google Analytics tracking codes and prioritized code-blocks based on Google's site crawlers.
                    </p>
                </article>
            </div>

            <div class="offeredItem">
                <article>
                    <div class="pimg"><img src="img/Publish-128.png"/></div>
                    <h3>FULL CONTROL</h3>
                    <p>
                        You will have every say in what goes into your website. From basic templating to your craziest idea, we'll get it done the way <strong>you want it done.</strong>
                    </p>
                </article>
            </div>
        </div>
        <div class="services">
            <h1>SERVICES</h1>
            <div class="serviceFlex">

                <div class="serviceItem">
                    <article>
                        <h3>DESIGN</h3>
                        <p>

                        Intricate designs made exclusively for you. Tired of the building-block website builders? <strong>Me too.</strong> Choosing a design is just as important as choosing your future.
                        <br />
                        Included with every order:
                        </p>
                        <br />
                        <ul>
                            <strong>
                                <li>4 Different Graphical Resources</li>
                                <li>Access to view Live Code at any time</li>
                                <li>Optimized Search Presence</li>
                                <li>Consisten, Reliable Communication</li>
                            </strong>
                        </ul>
                    </article>
                    <img src="img/Paint-Brush-01-128.png">
                </div>

                <div class="serviceItem">
                    <article>
                        <h3>DYNAMIC WEBPAGES</h3>
                        <p>
                            Current web technologies are in a constant cycle of ebb and flow. This means creating beautiful web apps that can fit across all platforms and devices. Any project I complete will be rendered with dynamic viewports to ensure maximum readability and stability no matter how or where it's viewers are accessing it.
                            <br/>
                            <br/>
                            <strong>It's not a bonus, it's a standard.</strong>
                        </p>
                    </article>
                    <img src="img/Desktop-128.png">
                </div>

                <div class="serviceItem">
                    <article>
                        <h3>INSTALLATION AND HOSTING</h3>
                        <p>
                            Do you have a strong business plan that doesn't include fluent computer skills? Not a problem. We'll help you set up a website host and install all the necessary files to get your project up and running.
                        </p>
                    </article>
                    <img src="img/Cloud-Upload-128.png">
                </div>
                <a href="/services">CLICK HERE FOR MORE INFO</a>
            </div>
        </div>
